# azure-pipelines.yml
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  app_location: '/'          # Root folder of your app
  output_location: 'build'   # Where 'npm run build' outputs files
  azure_static_web_apps_api_token: $(deployment_token)

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'Build React App'

- task: AzureStaticWebApp@0
  inputs:
    app_location: $(app_location)
    output_location: $(output_location)
    azure_static_web_apps_api_token: $(azure_static_web_apps_api_token)
  displayName: 'Deploy to Azure Static Web App'
